@font-face {
  font-family: "iconfont"; /* Project id 4584000 */
  src: url('iconfont.woff2?t=1720646041049') format('woff2'),
       url('iconfont.woff?t=1720646041049') format('woff'),
       url('iconfont.ttf?t=1720646041049') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before {
  content: "\e60e";
}

.icon-xihuan1:before {
  content: "\ff47";
}

.icon-remenhuodong:before {
  content: "\e750";
}

.icon-remenhuodong1:before {
  content: "\e613";
}

.icon-zhibo:before {
  content: "\e8c1";
}

.icon-bilibili:before {
  content: "\e6c4";
}

.icon-bilibili1:before {
  content: "\e601";
}

.icon-reset:before {
  content: "\e63a";
}

.icon-back-top:before {
  content: "\e88d";
}

.icon-xiaoxi:before {
  content: "\e60d";
}

.icon-bofang:before {
  content: "\e600";
}

.icon-huya:before {
  content: "\e606";
}

.icon-danmu:before {
  content: "\e668";
}

.icon-zuo:before {
  content: "\e635";
}

.icon-icon-arrow-right2:before {
  content: "\e667";
}

.icon-icon-test:before {
  content: "\e605";
}

.icon-icon_up:before {
  content: "\e72b";
}

